.nav-link {
  display: block;
  border-radius: 20px;
  margin: 10px;
  color: #000 !important;
}

.nav-link:hover {
  transform: scale(1.02);
  transition: 0.5s;
  color: #fff !important;
  background-color: #ffb007;
}

#mytable {
  margin: 0px auto;
  width: 60%;
}

#mytable th {
  background-color: #08B1BD;
}

#tablebody td {
  padding: 10px;
}

#mytable tr:hover {
  transform: scale(1.01);
  transition: 1s;
}